.card {
  background-color: rgba(224, 82, 3, 0);
  border: solid 1px #ffffff;
  border-radius: 5px;
  width: 100%;
}

.scroll {
  max-height: 350px;
  overflow-y: scroll;
  background-color: rgba(224, 82, 3, 0.6);
  border-top: solid 1px #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
}

.card-header {
  background-color: #e05203;
  width: 100%;
}

.card-body {
  height: 340px;
}

.nav-item {
  width: 300px;
}

.list-group-horizontal .list-group-item
{
	display: inline-block;
}
.list-group-horizontal .list-group-item
{
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
 	border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child
{
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
  width: 20%;
  cursor: pointer;
}
.list-group-horizontal .list-group-item:nth-child(2)
{
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
  width: 60%;
  cursor: pointer;
}
.list-group-horizontal .list-group-item:last-child
{
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
	border-right-width: 1px;
  width: 20%;
  cursor: pointer;
}
.fa-trash-alt {
  color: black;
}

h3 {
  font-family: Crimson;
  font-weight: bold;
  color: #ffffff;
}

h5 {
  font-family: Crimson;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  margin-left: 30px;
  font-family: Crimson;
  color: #ffffff;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
